<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="index.html">Brozyzz</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Navigation umschalten">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a href="pages/login.html" class="nav-link">Login</a>
                </li>
                <li class="nav-item">
                    <a href="pages/registration.html" class="nav-link">Register</a>
                </li>
            </ul>
            <div class="d-flex gap-2">
                <a href="pages/basket.html" class="btn btn-warning">Basket</a>
                <a href="pages/profile.html" class="btn btn-warning">Profile</a>
            </div>
        </div>
    </div>
</nav>
